body {
    font-family: 'Roboto', sans-serif, 'Oxygen';
    margin: 0;
    min-height: 100vh;
}

.main-header,
.hero-section,
.footer {
    background: #1F2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-section .text,
.main-header .text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

button,
.cta {
    background-color: #3882F6;
    color: #E5E7EB;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font: weight 900;
}

.section .text {
    color: grey;
}

.testimonial {
    background-color: #E5E7EB;

}

.footer {
    color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}