body {
    font-family: Roboto, Arial, Oxygen;
    margin: 0;
    min-height: 100vh;
}

.header,
.content-1,
.footer {
    background-color: #1F2937;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.content-1 .text,
.header .text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

button,
.content-4 {
    background-color: #3882F6;
    color: #E5E7EB;
}

.information-header {
    font-size: 36px;
    color: #1F2937;
    font: weight 900;
}

.section .text {
    color: grey;
}

.content-3 {
    background-color: #E5E7EB;

}

.content-4 {
    color: #E5E7EB;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}